.header {
  background: $mirage;
  background-image: url(../images/homepage/hero-bg-mobile.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: normal;
  color: white;
  height: 74.8rem;
  text-align: center;

  .inner {
    height: 38.4rem;
    position: relative;  
    top: 23.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &_title {
    font-weight: 300;
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: -0.4px;
    text-align: center;
  }

  &_description {
    line-height: 2.5rem;
    font-size: 1.5rem;
    letter-spacing: -0.1875px;
  }
}
