.header {
  background: $mirage;
  background-image: url(../images/homepage/hero-bg-mobile.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: normal;
  color: white;
  min-height: 74.8rem;
  text-align: center;

  @include media-md {
    background-image: url(../images/homepage/hero-bg-tablet.jpg);
    min-height: 99.2rem;
  }

  .inner {
    height: 38.4rem;
    position: relative;
    top: 23.2rem;
    @include flex(column, space-between);

    @include media-md {
      top: 37.4rem;
      height: 40.2rem;
    }
  }

  &_title {
    font-weight: 300;
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: -0.4px;
    text-align: center;

    @include media-md {
      font-size: 4.8rem;
      line-height: 6.4rem;
      letter-spacing: -0.6px;
      padding: 0 3rem;
    }
  }

  &_description {
    line-height: 2.5rem;
    font-size: 1.5rem;
    letter-spacing: -0.1875px;

    @include media-md {
      font-size: 1.8rem;
      line-height: 3rem;
      letter-spacing: -0.625px;
      max-width: 57.3rem;     
    }
  }
}
