.reservation {
  position: relative;
  min-height: 53.4rem;

  &__form {
    height: 58.5rem;
    max-width: 32.7rem;
    position: absolute;
    top: -10rem;
    right: 5rem;
    border: 1px solid red;     
    @include flex(column, center);

    @include media-md {
      padding: 4.8rem;      
    }
  }

  .form {
    &__input {
      border: none;
      border-bottom: 1px solid $ebony-clay;
      font-size: 1.8rem;
      line-height: 2.8rem;
      letter-spacing: -0.225px;
      color: inherit;
    }

    &__field {
      margin: 0 auto;
      margin-bottom: 3.2rem;
    }

    &__field--text {
      width: 95%;

      .form__input {
        display: block;
        width: 95%;
        height: 4.5rem;       
        padding: 0.5rem;
      }
    }

    &__field--number {
      width: 95%;
      height: 8.1rem;     
      position: relative;

      label {
        color: $cod-grey;
        text-align: left;
      }

      .form__input {
        width: 26%;
        padding: 0.75rem;
        margin: 0 0.3rem;
        text-align: left;     
      }

      .check-box {
        display: none;
      }

      .icon-arrow {
        position: absolute;
        top: 4rem;
        right: 2rem;
        transform: rotate(180deg);
      }
    }

    &__field-box {
      @include flex(row, center);
    }

    &__field--people {
      width: 95%;
      text-align: center;
      padding-bottom: 1rem;     
      border-bottom: 1px solid $ebony-clay;

      .form__input {
        width: 70%;
        text-align: center;
        border: none;
      }
    }

    &__msg {
      display: block;
      visibility: hidden;
      font-weight: bold;
      padding-top: .7rem;
      font-size: 1rem;
      text-align: left;
      color: rgb(221, 51, 51);
    }
    &__msg--error {
      visibility: visible;
    }

    &__input--error {
      border-bottom: 1px solid rgb(221, 51, 51);
      color: rgb(221, 51, 51);
    }
  }
}
