.section-4 {
  min-height: 32.8rem;
  background-image: url(../images/homepage/ready-bg-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  @include flex(column, center);
  color: white;

  @include media-md {
    min-height: 24rem;
    background-image: url(../images/homepage/ready-bg-tablet.jpg);
  }

  @include media-lg {
    background-image: url(../images/homepage/ready-bg-desktop.jpg);
  }

  .inner {
    @include media-md {
      width: 63.8rem;
    }

    @include media-lg {
      min-width: 100rem;
      @include flex(row, space-between);
      align-items: center;
    }
  }
  h2 {
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: -0.4px;
    padding-bottom: 2rem;

    @include media-md {
      font-size: 4rem;
      line-height: 5.6rem;
      letter-spacing: -0.5px;
    }

    @include media-lg {
      padding: 0; 
    }
  }
}
