.section-4 {
  min-height: 32.8rem;
  background: url(../images/homepage/ready-bg-mobile.jpg);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;

  h2 {
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: -0.4px;
    padding-bottom: 2rem;
  }
}
