.section-4 {
  min-height: 32.8rem;
  background-image: url(../images/homepage/ready-bg-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  @include flex(column, center);
  color: white;

  @include media-md {
    min-height: 24rem;
    background-image: url(../images/homepage/ready-bg-tablet.jpg);
  }

  @include media-lg {
    background-image: url(../images/homepage/ready-bg-desktop.jpg);
  }

  .inner {
    @include media-lg {
      min-width: 90rem;
      @include flex(row, space-between);
      align-items: center;
    }
  }
  .title-2 {
    padding-bottom: 2rem;

    @include media-lg {
      padding: 0;
    }
  }
}
