.section-3 {
  min-height: 84rem;
  margin: 8rem 0;
  text-align: center;
  color: $ebony-clay;
  position: relative;

  @include media-md {
    margin: 10rem 0;
    min-height: 54rem;
  }

  .inner {
    @include media-lg {
      @include flex(row, space-between);
      align-items: space-between;
    }
  }

  .pictures {
    position: relative;
  }

  .picture img {
    display: none;
    box-shadow: 0px 27px 47px -7px rgba(0, 0, 0, 0.75);
  }

  .picture--active img {
    max-width: 40rem;
    display: inline-block;
    margin-bottom: 4rem;
    z-index: 1;

    @include media-lg {
      max-width: 54rem;
      padding: 0;
    }
  }

  .items {
    @include media-lg {
      @include flex(column-reverse, space-between);
      align-items: start;
      text-align: left;
      margin-left: 7rem;
    }

    &__list {
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1.4rem;
      line-height: 2.8rem;
      letter-spacing: 2px;
      position: relative;
      margin-bottom: 3rem;

      @include media-md {
        @include flex(row, space-between);
        min-height: 3.7rem;
      }

      @include media-lg {
        flex-direction: column;
        align-items: start;
      }
    }

    &__item {
      opacity: 0.7;
      cursor: pointer;
      padding-bottom: 1.5rem;
      transition: transform 0.5s ease-in;

      @include media-md {
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 2.8rem;
        letter-spacing: 2px;
      }
    }

    &__item--active {
      color: #4c4c4c;
      opacity: 1;
      transform: translateX(1rem);
    }

    &__line {
      width: 4.8rem;
      height: 0.1rem;
      background-color: $beaver;
      visibility: hidden;
      margin: 0 auto;
      padding: 0;

      @include media-md {
        position: absolute;
        top: 50%;
        transform: translate(6rem, 3rem);
      }

      @include media-lg {
        width: 10rem;
        top: 10%;
        transform: translate(-11rem, 0rem);
      }
    }

    &__line--active {
      visibility: visible;
      z-index: -5;
    }

    &__content {
      display: none;

      @include media-md {
        padding-top: 4rem;
      }

      @include media-lg {
        padding: 0;
      }

      .title-2 {
        @include media-lg {
          padding-bottom: 1rem;
        }
      }

      .paragraph {
        padding: 2rem 0;

        @include media-md {
          padding: 2rem 4rem;
        }

        @include media-lg {
          padding: 0;
        }
      }
    }

    &__content--active {
      display: block;
    }
  }

  .button {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .curve {
    display: none;
    z-index: -1;

    @include media-md {
      display: block;
      width: 100%;
      position: absolute;
    }
  }

  .curve--right {
    top: -10rem;
    left: -37.8rem;

    @include media-lg {
      left: -16rem;
    }
  }

  .lines {
    display: none;
    z-index: 5;

    @include media-md {
      display: block;
      width: 16rem;
      height: 7.6rem;
      position: absolute;
      top: -3.5rem;
      left: 3rem;
    }

    @include media-lg {
      left: -6rem;
    }
  }
}
