.section-2 {
  background: $cod-grey;
  color: white;
  text-align: center;
  padding: 5rem 0;
  margin: 3rem 0;

  @include media-md {
    min-height: 89.1rem;
    padding-top: 10rem;
  }

  @include media-lg {
    min-height: 56.1rem;
    margin-top: -6rem;
    padding-top: 20rem
  }

  .inner {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

    @include media-lg {
      justify-content: space-between;
      align-items: start;
    }
  }

  &__header {
    @include media-md {
      max-width: 44.2rem;
    }
    @include media-lg {
      text-align: left;
      flex-basis: 50%;
    }

    .title-2 {
      padding-top: 4rem;
      padding-bottom: 1.6rem;
    }

    .paragraph {
      margin-bottom: 5rem;
    }
  }

  &__container {
    @include flex(column, center);

    @include media-lg {
      flex-basis: 50%;
    }

    .food {
      @include media-md {
        @include flex(row, center);
        margin-top: 2.8rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);

        &:last-of-type {
          border-bottom: none;
        }
      }
    }

    img {
      height: 24.5rem;

      @include media-md {
        height: 9.6rem;
      }
    }

    .food__text {
      padding: 2rem 1.2rem 2.5rem 1.2rem;

      @include media-md {
        text-align: left;
        margin-left: 3rem;
      }

      .title-3 {
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 2.8rem;
        letter-spacing: -0.225px;

        @include media-md {
          font-size: 1.8rem;
          line-height: 2.8rem;
          letter-spacing: -0.225px;
        }
      }

      p {
        font-size: 1.5rem;
        font-weight: normal;
        line-height: 2.8rem;
        letter-spacing: -0.1875px;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);

        &:last-of-type {
          border-bottom: none;
        }

        @include media-md {
          font-size: 1.5rem;
          line-height: 2.8rem;
          letter-spacing: -0.1875px;
          border-bottom: none;
        }
      }
    }
  }
}
