html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; /* 10px = 1rem */
}

body {
  font-size: 1.4rem;
  min-height: 100vh;
  margin: 0 auto;
}

.inner {
  width: 90%;
  max-width: 35rem;
  margin: 0 auto;
  position: relative;

  @include media-md {
    max-width: 63.8rem;
  }

  @include media-lg {
    max-width: 120rem;
  }
}

picture,
img {
  display: inline-block;
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.button {
  max-width: 24.5rem;
  display: inline-block;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  padding: 2.4rem 5.4rem;
  transition: all 0.7s ease-in;
}

.button--dark {
  color: white;
  background: $cod-grey;
  border: 1px solid white;
}

.button--dark:hover {
  color: $cod-grey;
  background: white;
  border: 1px solid $cod-grey;
}

.button--light {
  color: $cod-grey;
  background: white;
  border: 1px solid $cod-grey;
}

.button--light:hover {
  color: white;
  background: $cod-grey;
  border: 1px solid white;
}

.button--transparent {
  color: white;
  background: inherit;
  border: 1px solid white;
}

.button--transparent:hover {
  background: $cod-grey;
}

.button--submit { 
  display: block; 
  max-width: 30.3rem;
  width: 100%;
  margin: 0 auto;

  @include media-md {
    max-width: 44.4rem;
  }

}

.title-2 {
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: -0.4px;
  line-height: 4rem;

  @include media-md {
    font-size: 4rem;
    letter-spacing: -0.5px;
    line-height: 5.6rem;
  }
}

.paragraph {
  font-size: 1.5rem;
  font-weight: normal;
  letter-spacing: -0.1875px;
  line-height: 2.5rem;

  @include media-md {
    font-size: 1.8rem;
    letter-spacing: -0.225px;
    line-height: 3rem;
  }
}
