@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;600;700&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Spartan', sans-serif;
}

html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  /* 10px = 1rem */
}

body {
  font-size: 1.4rem;
}

.inner {
  width: 32.7rem;
  margin: 0 auto;
}

img {
  display: inline-block;
}

a {
  cursor: pointer;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.button {
  max-width: 24.5rem;
  display: inline-block;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 2.4rem 5.4rem;
  -webkit-transition: all .7s ease-in;
  transition: all .7s ease-in;
}

.button_dark {
  color: white;
  background: #111111;
  border: 1px solid white;
}

.button_dark:hover {
  color: #111111;
  background: white;
  border: 1px solid #111111;
}

.button_light {
  color: #111111;
  background: white;
  border: 1px solid #111111;
}

.button_light:hover {
  color: white;
  background: #111111;
  border: 1px solid white;
}

.button_transparent {
  color: white;
  background: inherit;
  border: 1px solid white;
}

.button_transparent:hover {
  background: #111111;
}

.header {
  background: #17192b;
  background-image: url(../images/homepage/hero-bg-mobile.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: normal;
  color: white;
  height: 74.8rem;
  text-align: center;
}

.header .inner {
  height: 38.4rem;
  position: relative;
  top: 23.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_title {
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: -0.4px;
  text-align: center;
}

.header_description {
  line-height: 2.5rem;
  font-size: 1.5rem;
  letter-spacing: -0.1875px;
}

.section-1 {
  min-height: 144.6rem;
  text-align: center;
  color: #242B37;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-1 .card {
  min-height: 68.3rem;
}

.section-1 .image {
  margin-top: -7.2rem;
}

.section-1 .pattern {
  padding-top: 5rem;
}

.section-1 h2 {
  letter-spacing: -0.4px;
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 4rem;
  padding: 3rem 0;
}

.section-1 p {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2.5rem;
  letter-spacing: -0.1875px;
}

.section-2 {
  background: #111111;
  color: white;
  text-align: center;
  padding: 5rem 0;
  margin: 3rem 0;
}

.section-2 .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-2_header h2 {
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: -0.4px;
  padding-top: 3rem;
  padding-bottom: 1.6rem;
}

.section-2_header p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.1875px;
  margin-bottom: 5rem;
}

.section-2_container img {
  height: 24.5rem;
}

.section-2_container .food_text {
  padding: 2rem 1.2rem 2.5rem 1.2rem;
}

.section-2_container .food_text h3 {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.8rem;
  letter-spacing: -0.225px;
}

.section-2_container .food_text p {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2.8rem;
  letter-spacing: -0.1875px;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.section-3 {
  min-height: 84rem;
  margin: 8rem 0;
  text-align: center;
  color: #242B37;
}

.section-3 img {
  width: 100%;
  height: 40rem;
  padding-bottom: 4rem;
}

.section-3 .items {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.8rem;
  letter-spacing: 2px;
}

.section-3 .items .item {
  opacity: 0.5;
}

.section-3 .items .item-active {
  color: #4c4c4c;
  opacity: 1;
}

.section-3 .items .item_line {
  width: 4rem;
  height: 0.1rem;
  background-color: #242B37;
  display: inline-block;
  visibility: hidden;
  opacity: 0.5;
  vertical-align: top;
}

.section-3 .items .item_line-active {
  visibility: visible;
}

.section-3 .item_content {
  display: none;
}

.section-3 .item_content-active {
  display: block;
}

.section-3 h2 {
  font-weight: bold;
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: -0.4px;
}

.section-3 p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: -0.1875px;
  padding: 2rem 0;
}

.section-4 {
  min-height: 32.8rem;
  background: url(../images/homepage/ready-bg-mobile.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.section-4 h2 {
  font-size: 3.2rem;
  line-height: 4rem;
  letter-spacing: -0.4px;
  padding-bottom: 2rem;
}

.footer {
  background: #111111;
  min-height: 44rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.footer .logo {
  padding-bottom: 4rem;
}

.footer .address {
  padding-bottom: 3.2rem;
}

.footer p {
  font-size: 1.4rem;
  line-height: 2.8rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */